.SearchBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjusts the space between input and button */
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}
img{
    height: 40px;
    width: 40px;
   }
.text{
   
    height: 2rem;
    width: 15rem;
 }

